@import url(../reindeer/styles.css);

.v-app {
	background: #F0F8FF;
	border: 5px;
}

.v-panel {
	background: #F0F8FF;
	border: 5px;
}

.v-widget {
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.v-gridlayout-rate {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.v-verticallayout {
	border: 5px;
}

.v-panel-content {
	background: url(img/background.jpg);
	border: 5px;
	border-color: #F0F8FF;
}

.v-tabsheet .v-panel {
	background:transparent;
}
.v-tabsheet .v-panel-content {
	background:transparent;
}

.v-caption {
	color: #D5E3F9;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.2em #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.v-caption .v-caption-mydiv {
	color: #ffffff;
/* 	margin-top: 40px; */
	padding-top: 40px;
}

.v-caption.v-caption-login {
	color: #D5E3F9;
	font-weight: bolder;
	font-size: 13px;
	text-shadow: 0.1em 0.1em 0.2em #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.v-textfield {
	background: #f3fced;
	border: solid 2px #D5E3F9;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.v-button:focus {
	background: transparent;
}

.v-button:focus .v-button-wrap {
	background: transparent;
}

.v-button:active,.v-button.v-pressed {
	background: transparent;
	padding: 0 0 0 7px;
}

.v-button:active .v-button-wrap,.v-button.v-pressed .v-button-wrap {
	background: transparent;
	padding: 0 0 0 7px;
}

.v-button,.v-button {
	height: 24px;
	padding: 0 0 0 7px;
	background: transparent;
}

.v-button-wrap,.v-button .v-button-wrap {
	background: transparent;
	height: 22px;
	padding: 2px 5px 0 3px;
}

.v-button-caption {
	color: #D5E3F9;
	text-shadow: 0.3em 0.3em 0.5em #000000;
	background: transparent;
	font-weight: bolder;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.v-button.v-widget.sidebarStyle.v-button-sidebarStyle {
	margin: 6px;
}

.main.v-verticallayout-main {
	float: left;
	padding-top: 30px;
	padding-right: 60px;
	padding-left: 80px;
}

.v-link-username a span {
	text-decoration: none;
	font-size: 12px;
	color: #D5E3F9;
	font-weight: bolder;
	font-style: italic;
	text-shadow: 0.1em 0.1em 0.2em #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-right: 10px;
	margin-bottom: 4px;
/* 	padding-bottom: 50px; */
}

.v-panel-nocaption-sidebar {
	background: #transparent;
	border-color: #303030;
	border-radius: 8px;
	margin-top: 0px;
	padding-top: 0px;
}

.v-panel-content-sidebar {
	background: transparent;
	border-color: #303030;
	border-radius: 8px;
}

.v-panel-sidebar {
	background: url(img/sidebar_bk.png);
	/* 	opacity: 0.8; */
	border-radius: 4px;
	border: medium;
	border-color: #303030;
	padding-left: 10px;
	margin: 0px 0px;
	float: right;
	border-radius: 8px;
}

.v-csslayout-mydiv {
	background: transparent;
	border-color: #393939;
	border-radius: 4px 4px 4px 4px;
	border-style: ridge none none ridge;
	border-width: 1px 0 0 2px;
	margin-left: 20px;
	/*     margin-top: 20px; */
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 10px 15px 5px 30px;
	color: #ffffff;
	position: relative;
}

.v-csslayout-mydiv .v-captiontext {
	color: #ffffff;
}

.v-checkbox.v-widget.sidebarStyle.v-checkbox-sidebarStyle {
	font-style: oblique;
	margin: 5px;
}

.v-link.v-widget.sidebarStyle.v-link-sidebarStyle.v-has-height span {
	font-size: 13px;
	margin: 5px;
}

/* .v-slot.v-slot-white .v-label { */
/* 	padding: 10px 5px 10px 5px; */
/* 	font-weight: bolder; */
/* 	font-size: 14px; */
/* 	color: #3C14DC; */
/* } */

/* .v-slot.v-slot-comment { */
/* 	padding-top: 10px; */
/* 	margin-top:5px; */
/* 	border: 2px; */
/* } */
/* .bordered { */
/* 	border: 5px; */
/* } */
/* .v-tabsheet-content .v-link a span { */
/* 	margin-left: 3px; */
/* 	padding-top: 7px; */
/* 	padding-bottom: 5px; */
/* 	text-decoration: none; */
/* 	font-weight: bolder; */
/* } */
.mydiv .v-label {
	margin: 2px 10px 2px 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 2px 10px 2px 10px;
}

.mydiv a:link {
	font-weight: bold;
	text-decoration: none;
	color: #3399FF;
	margin: 2px 10px 2px 10px;
}

.mydiv a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #3399FF;
	margin: 2px 10px 2px 10px;
}

.mydiv a:hover,a:active {
	text-decoration: underline;
	color: #99CCFF;
	margin: 2px 10px 2px 10px;
}

/* .tokenfield .v-csslayout .v-button-link { */
/* 	height: 24px; */
/* } */

/* .title { */
/* 	color: #4682B4; */
/* 	text-shadow: -1px 0 0 #6495ED, 1px 1px 0 #6495ED, 2px -1px 0 #6495ED, */
/* 		3px 0 0 #6495ED; */
/* 	font-size: 40px; */
/* 	height: 80px; */
/* 	margin: 5px 5px 5px 5px; */
/* 	padding: 5px 5px 5px 5px; */
/* } */

/* .v-slot.v-slot-myblack { */
/* 	background: #202020; */
/* 	border-radius: 4px; */
/* 	border-color: #303030; */
/* 	padding: 0px 0px; */
/* 	margin: 0px 10px; */
/* 	padding: 0px 0px; */
/* 	/* 	float:right; */
* /
	/* } */
	/* .v-slot.v-slot.tagCloudStyle { */
	/* 	margin-bottom: 7px; */
	/* 	margin-top: 7px; */
	/* } */       

.v-slot.v-slot-recommenderStyle {
	margin-bottom: 7px;
	margin-top: 7px;
	padding: 5px 5px 5px 5px;
	border-radius: 4px;
	border-color: #303030;
}

.v-link-optionSelStyle a span {
	margin-bottom: 7px;
	margin-top: 7px;
	text-decoration: none;
	font-size: 12px;
}

.optionSelStyle a span {
	margin-bottom: 7px;
	margin-top: 7px;
	text-decoration: none;
	font-size: 12px;
	color: #303030;
}

/* .v-slot.v-align-right.v-align-middle { */
/* 	padding-right: 150px; */
/* } */
.v-label-optionSelStyle {
	margin-bottom: 7px;
	margin-top: 7px;
	font-weight: bolder;
	font-size: 14px;
	color: #99CCFF;
	text-shadow: 0.01em 0.01em 0.2em #393939;
}

.v-link-optionSelStyle a span {
	color: #393939;
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 25px;
	text-decoration: none;
}

.v-link-20-style a span {
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 4px;
	margin-right: 1px;
	font-weight: bolder;
	text-decoration: none;
	font-size: 16px;
	color: #3399FF;
}

.v-widget-title-style {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
}

.v-link-title-style a:link span {
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0.01em 0.02em 0.1em #393939;
}

.v-link.v-disabled.v-widget.title-label-style.v-link-title-label-style.v-has-width.v-has-height span
	{
	color: #FFFFFF;
	font-size: 15px;
	padding-top: 10px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0.01em 0.02em 0.1em #393939;
}

.v-csslayout.v-layout.v-widget.title-style.v-csslayout-title-style.v-has-height
	{
	padding-top: 10px;
}

.v-link.v-widget.optionSelStyle.v-link-optionSelStyle {
	color: #FFFFFF;
	font-weight: bolder;
	font-size: 14px;
	text-decoration: none;
}

.v-slot .v-slot-recommenderStyle {
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.v-link-16-style a:link span {
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 3px;
	padding-left: 3px;
	margin-right: 3px;
	font-weight: bolder;
	text-decoration: none;
	font-size: 14px;
	color: #3399FF;
	text-shadow: 0.01em 0.02em 0.1em #3399FF;
	margin-right: 3px;
}

.v-link-14-style a:link span {
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 1px;
	padding-left: 3px;
	margin-right: 9px;
	font-weight: bolder;
	text-decoration: none;
	font-size: 13px;
	color: #3399FF;
	text-shadow: 0.01em 0.02em 0.1em #3399FF;
	margin-right: 9px;
}

.v-link-12-style a:link span {
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 3px;
	margin-right: 9px;
	padding-left: 11px;
	font-weight: bolder;
	text-decoration: none;
	font-size: 12px;
	color: #3399FF;
	text-shadow: 0.01em 0.02em 0.1em #3399FF;
	font-weight: bolder;
}

.v-link-list a:link span {
	text-decoration: none;
	color: #ffffff;
}

.v-gridlayout-tagCloudStyle {
	font-color: #ffffff;
}

.v-csslayout.v-layout.v-widget.tag-style.v-csslayout-tag-style .v-link.v-widget
	{
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 1px;
	font-weight: bold;
	text-decoration: none;
}

.tokenfield .v-button-link {
	background-color: #00B4F0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 23px;
	padding: 4px 7px;
	margin: 4px;
}

.tokenfield .v-button-link:focus {
	background-color: #00B4F0;
	border-radius: 2px;
	height: 23px;
	padding: 4px 7px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.tokenfield .v-button-emphasize,.tokenfield .v-button-emphasize:focus {
	background-color: #00B4F0;
}

.tokenfield .v-button-link .v-button-caption {
	color: #393939;
	text-decoration: none;
}

.tokentextfield .v-filterselect {
	margin-bottom: 4px;
	margin-top: 4px;
	margin-right: 5px;
	float: left;
	background: #D5E3F9 none;
	border-radius: 2px;
	float: left;
}

.tokentextfield .v-csslayout.v-layout.v-widget {
	float: left;
	background: #D5E3F9 none;
	border-radius: 5px;
	margin-bottom: 4px;
	margin-top: 4px;
	border: medium;
	border-color: #393939;
}

.tokentextfield  .v-filterselect .v-filterselect-input {
	background: transparent none;
}

.tokentextfield  .v-filterselect .v-filterselect-button {
	display: none;
}

.v-csslayout div {
	float: left;
}

.v-customlayout-pretty {
	color: #000000;
}

.v-customlayout-pretty .pln {
	color: #000
}

.v-customlayout-pretty
 
@media screen {
	.v-customlayout-pretty	.str {
		color: #080
	}
	.v-customlayout-pretty.kwd {
		color: #008
	}
	.v-customlayout-pretty.com {
		color: #800
	}
	.v-customlayout-pretty.typ {
		color: #606
	}
	.v-customlayout-pretty.lit {
		color: #066
	}
	.v-customlayout-pretty.pun,.v-customlayout-pretty.opn,.v-customlayout-pretty.clo
		{
		color: #660
	}
	.v-customlayout-pretty.tag {
		color: #008
	}
	.v-customlayout-pretty.atn {
		color: #606
	}
	.v-customlayout-pretty.atv {
		color: #080
	}
	.v-customlayout-pretty.dec,.var {
		color: #606
	}
	.v-customlayout-pretty.fun {
		color: red
	}
}

.v-customlayout-pretty


@media print , projection {
	.v-customlayout-pretty.str {
		color: #060
	}
	.v-customlayout-pretty.kwd {
		color: #006;
		font-weight: bold
	}
	.v-customlayout-pretty.com {
		color: #600;
		font-style: italic
	}
	.v-customlayout-pretty.typ {
		color: #404;
		font-weight: bold
	}
	.v-customlayout-pretty.lit {
		color: #044
	}
	.v-customlayout-pretty.pun,.opn,.clo {
		color: #440
	}
	.v-customlayout-pretty.tag {
		color: #006;
		font-weight: bold
	}
	.v-customlayout-pretty.atn {
		color: #404
	}
	.v-customlayout-pretty.atv {
		color: #060
	}
}

.v-customlayout-pretty pre.prettyprint {
	color: #000000;
	padding: 2px;
	border: 1px solid #888
}

.v-customlayout-pretty ol.linenums {
	margin-top: 0;
	margin-bottom: 0
}

.v-customlayout-pretty li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
	list-style-type: none
}

.v-customlayout-pretty li.L1,li.L3,li.L5,li.L7,li.L9 {
	background: #eee
}
}