<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<appender name="DebugLogger" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]:  %d{yyyy.MM.dd HH:mm:ss} (%t)  %-10c: %m%n" />
		</layout>
	</appender>

	<appender name="ErrorLogger" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]:  %d{yyyy.MM.dd HH:mm:ss} (%t)  %-10c: %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<logger name="com.flowsoft" additivity="false">
		<level value="debug" />

		<appender-ref ref="DebugLogger" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="warn" />

		<appender-ref ref="DebugLogger" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level value="warn" />

		<appender-ref ref="DebugLogger" />
	</logger>
		<logger name="com.google" additivity="false">
		<level value="warn" />

		<appender-ref ref="DebugLogger" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="warn" />

		<appender-ref ref="DebugLogger" />
	</logger>
	<root>
		<level value="ERROR" />
		<appender-ref ref="ErrorLogger" />
	</root>


</log4j:configuration>